h1 {
    text-align: center;
    position :sticky;
    margin-top: -8%;
    right: 54%;
    left: 46%;
    flex: 1;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: calc(2vw);
}

.image-accueil{
 width: 18%;
 z-index: 1;
}