
.activite-item {
    margin-bottom: 5px;
    flex-direction: line;
    position: relative;
    font-weight: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    display: inline-flex;
}

.activite-nom {
    position:relative;
    text-align: left;
    padding-right: 3%;
}

.activite-responsable {
    position: relative;
    text-align: left;
}

.activite-buttons{
    position : relative;
}

.ajout-button{
    position : absolute;
    margin-left: 52.5%;
    margin-top: -1.5%;
}

.searchbar{
    position : relative;
    margin-left:-8%;
}

.activite-list {
    list-style-type: none;
    display:block;
    border:solid 3px black;
    border-radius: 10px;
    width: 50%;
    height: auto;
	padding: 0px;
    position: relative;
    left : 0%; 
    text-align: left;
}


.FILL{
    flex:1;
}
