
.login{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    background-color: #5ac4f3;
    padding-bottom: 19.5%;
}

.button{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.logo {
    margin-top: 1%;
    width: 10%;
    flex: 1;
}

.oublie{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    background-color: #5ac4f3;
    padding-bottom: 25.5%;
}

